[submodule "modules/ostypes"]
	path = modules/ostypes
	url = git@github.com:Noitidart/ostypes
[submodule "resources/scripts/ostypes"]
	path = resources/scripts/ostypes
	url = git@github.com:Noitidart/ostypes
[submodule "resources/scripts/comm"]
	path = resources/scripts/comm
	url = git@github.com:Noitidart/Comm
[submodule "resources/scripts/react-mozNotificationBar"]
	path = resources/scripts/react-mozNotificationBar
	url = git@github.com:Noitidart/react-mozNotificationBar
[submodule "resources/scripts/supplement"]
	path = resources/scripts/supplement
	url = git@github.com:Noitidart/NativeShotSupplement
