@-moz-document url("chrome://browser/content/browser.xul") {
	#cui_nativeshot {
		list-style-image: url('chrome://nativeshot/content/resources/images/gray16.png');
		/*filter: grayscale(1);
		transition: filter 200ms;*/
	}
	#cui_nativeshot:hover {
		filter: grayscale(0);
	}
	#cui_nativeshot[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #cui_nativeshot {
		list-style-image: url('chrome://nativeshot/content/resources/images/gray32.png');
	}
}
