body {
	margin: 0; /* as there is a default margin on body for some reason in firefox */
	font-family: arial;
	-moz-user-select: none;
}

#canBase {
	position: fixed;
	top: 0;
	left: 0;
	background: #000 url(chrome://nativeshot/content/resources/images/canvas_bg.png) repeat fixed top left;
	z-index: 1;
}

#canDim {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}


/* start - palette */
/* state:innate */
#palette {
	position: absolute;
	z-index: 3;
}
/* end - palette */

/* start - psubwrap */
/* state:innate */
.psubwrap {
	/*font-size: 48px;*/ /*so on intial set by react, it doesnt transition*/
	transition: font-size 200ms;
	text-align: center;
	background: linear-gradient(to bottom, #f0f1f2 0%,#e4e5e6 100%);
	border: 1px solid #aaaaaa;
	display: flex;
	flex-direction: row;
	
	color:rgba(78, 77, 75, 0.9);
	text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
	
	cursor: default;
}
/* end - psubwrap */

/* start - pbutton */
/* state:innate */
.pbutton {
	height: 2em;
	width: 2em;
	margin: 0 auto;
	background: linear-gradient(to bottom, #f0f1f2 0%,#e4e5e6 100%);
	border: 1px solid #ccc;
	position: relative;
	font-family: verdana, fontello;
	font-style: normal;
	font-weight: normal;
}
/* state:hover_not_pressed */
.pbutton:hover {
	background: linear-gradient(to bottom, #f7f8f9 0%, #f3f4f5 100%);
	border: 1px solid #ddd;
}
/* state:nosubsel */
.pbutton:not([data-subsel]) {
	display: flex;
	align-items: center;
	justify-content: center;
}
/* state:pressed */
.pbutton:active,
.pbutton.pbutton-pressed {
	background: linear-gradient(to bottom, #d0d1d2 0%,#c4c5c6 100%);
	border: 1px solid #bbb;
}
/* end - pbutton */

/* start - pbutton_selected_sub */
/* state:innate */
.pbutton[data-subsel]::after {
	content: attr(data-subsel);
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	font-size: .7em;
	bottom: 0;
}
/* end - pbutton_after */

/* start - paccessibility */
/* state:innate */
.paccessibility {
	display: flex;
	flex-direction: column;
	font-size: .5em;
}
/* end - paccessibility */

/* start - paccessibility_children */
/* state:innate */
.paccessibility .pbutton {
	height: 2em;
	width: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* end - paccessibility */

/* start - phandle */
/* state:innate */
.phandle {
	padding: 0 1px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: move;
}
/* end - phandle */

/* start - phandle-visual */
/* state:innate */
.phandle-visual {
	height: 100%;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 0px rgba(255,255,255,0.5);
	margin-left: 1px;
}
.phandle-visual:first-of-type {
	margin-left: 0;
}
/* end - phandle-visual */

/* start - plabel */
/* state:innate */
.plabel {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	font-size: 0.5em;
	top: 0;
	white-space: nowrap;
	z-index: -1;
	width: 100%;
	/* doing this in the .plabel > span now because the span is the one exceeding boundaries due to the diplay flex so this background does not extend beyond boundaries
	background-color: #aaa;
	border-radius: 5px;
	*/
	left: 0;
	transition: top 200ms, opacity 200ms;
	text-shadow: none;
	display: flex; /* this with justify-content is needed as text-align center doesnt let it exceed the boundaries */
	justify-content: center;
	
	padding: 0px;
	margin: 0;
}
/* start:pbutton_hover */
.pbutton:hover .plabel {
	/* transform: translate(0, -2em); */
	top: -2.3em; /*calc(-1.5em - 0.6em - 0.2em) ::: -.5em will put it at top as font-size is .5em &&&& "- 0.6em" because padding on the `.plabel span` is 0.3px AND -0.2em is just good measure*/
	opacity: 1;
}
/* start:minfontsize */
.minfontsize .plabel {
	font-size: 12px;
}
/* end - plabel */

/*start - plabel > span - this is what extends beyond the boundaries of the plabel, as plabel width is 100% so i get center to line up with the icons below it */
.plabel span {
	font-family: arial;
	background-color: #ddd;
	border-radius: 5px;
	padding: 0.3em;
	margin: 0;
	font-weight: bold;
}
/*end - plabel > span */

/* start - psub */
/* state:innate */
.psub {
	position: absolute;
	opacity: 0;
	transition: top 200ms, opacity 200ms;
	top: 90%;
	
	background-color: rgba(240, 241, 242, 0.6);
	border: 1px solid rgba(170, 170, 170, 0.3);
	border-radius: 3px;
	box-shadow: 0 0.05em 0.1em 2px rgba(0, 0, 0, 0.3);
	padding: 0.1em;
}
/* start:pbutton_hover */
.pbutton:hover .psub {
	top: calc(100% + 0.1em);
	opacity: 1;
}
.pbutton::before {
	content: ' ';
	display: block;
	height: 0.1em;
	background-color: transparent;
	z-index: 0;
	position: absolute;
	width: 100%;
	bottom: -0.1em;
}
/* end - psub */

/*start - psub_pbutton*/
.psub .pbutton {
	font-size: .8em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
/*end - psub_pbutton*/

/* start - pdivider */
/* state:innate */
.pdivider {
	border: 1px solid #4c4b49;
}
/* end - pdivider */

/* start - other_stuff */
@font-face {
	font-family: 'fontello';
	src: url('chrome://nativeshot/content/resources/styles/fonts/font/fontello.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* end - other_stuff */