@-moz-document url("chrome://browser/content/browser.xul") {

	#cui_nativeshot .toolbarbutton-badge {
		background-color: #00A8EC;
	}

	notification button[class*=nativeshot] .button-icon,
	notificationbox[id*=NativeShotABjetpack] .button-icon {
		display: -moz-box;
		-moz-margin-end: 5px;
	}

	#toolbar-context-menu_nativeshot-menuitem .menu-iconic-left,
	#toolbar-context-menu_nativeshot-menuitem .menu-iconic-right,
	#customizationPanelItemContextMenu_nativeshot-menuitem .menu-iconic-left,
	#customizationPanelItemContextMenu_nativeshot-menuitem .menu-iconic-right {
		visibility: visible; /* needed because on ubuntu 15.01 they are hidden */
	}

}
